

<!-- Register Section Start -->
<div class="register-section section pt-110 pt-100 pt-md-80 pt-sm-60 pb-100 pb-md-80 pb-sm-60">
    <div class="container">

        <div class="row row-0 align-items-center">

            <div class="col-lg-4">
                <div class="single-content-side d-flex align-items-center justify-content-center">
                    <div class="contents-box text-center">
                        <ul class="ling-in-socail">
                            <p>Every ride counts as an Amtrak Guest Rewards member. Earn points toward reward travel, upgrades and more</p>
                            <!-- <li>
                                <a href="#"> <i class="fa fa-facebook"></i> Login with Facebook </a>
                            </li>
                            <li>
                                <a href="#"> <i class="fa fa-twitter"></i> Login with Twitter </a>
                            </li>
                            <li>
                                <a href="#"> <i class="fa fa-google-plus"></i> Login with Google </a>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="login-register-wrapper">
                    <div class="from-box text-center">
                        <form action="#" class="login-register-wrap">
                            <h3>Register</h3>
                            <div class="input-box mb-25">
                                <input type="text" placeholder="First Name">
                            </div>
                            <div class="input-box mb-25">
                                <input type="text" placeholder="Last Name">
                            </div>
                            <div class="input-box mb-25">
                                <input type="email" placeholder="Email">
                            </div>
                            <div class="input-box mb-25">
                                <input type="password" placeholder="Password">
                            </div>
                            <!-- <div class="tabs__checkbox mt-30">
                                <input type="checkbox">
                                <span> Keep me Loggedin</span>
                            </div> -->
                            <a class="btn btn-circle mt-35">Register</a>
                            <!-- <a href="#" class="forget mt-20">Forgot Password?</a> -->
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="single-content-side d-flex align-items-center justify-content-center">
                    <div class="contents-box text-center">
                        <h4>Already have an Account?</h4>
                        <p>Create a free account now</p>
                        <a [routerLink]="['/login']" class="btn  btn-circle mt-15">Login</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Register Section End -->